main {
   /* display:flex;*/
    margin: 0 auto;
    font-size: 15pt;
}

body{
    background-color: purple;
    background-size: 300px;
}

h1 {
    font-family: impact;
    font-size: 60pt;
    color: greenyellow;
    background-color: black;
    width: 120pt;
}

h2 {
    font-family: comic sans ms;
    font-size: 20pt;
    color: red;
}


nav {
    /* width: 20%; */
}

a {
    color: greenyellow;
    font-family: comic sans ms;
}

p {
    background-color: black;
    color: red;
    font-family: Verdana;
}

section {
    margin: 0 auto;
    width: 60%;
}


img {
    width: 510px;
    height: 640px;
}