main {
   /* display:flex;*/
    margin: 0 auto;
    font-size: 15pt;
}

body{
    background-color: black;
    background-size: 300px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 40pt;
    color: greenyellow;
}

h2 {
    font-family: comic sans ms;
    font-size: 20pt;
    color: red;
}


nav {
    /* width: 20%; */
}

a {
    color: greenyellow;
    font-family: comic sans ms;
}

p {
    color: red;
    font-family: Verdana;
}

section {
    margin: 0 auto;
    width: 60%;
}

audio {
    width: 10%;
}