main {
    width: 80%;
    /* display:flex; */
    margin: 0 auto;
    font-size: 15pt;
}

body{
    background-image: url(https://avatars2.githubusercontent.com/u/25300150?s=400&v=4);
    background-color: black;
    background-size: 300px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 40pt;
}

h2 {
    font-family: comic sans ms;
    font-size: 20pt;
}


nav {
    /* width: 20%; */
}

a {
    color: greenyellow;
    font-family: comic sans ms;
}

p {
   font-family: comic sans ms;
}

section {
    /* width: 80% */
    color: greenyellow;
}

